body #header{position:fixed;top:0px;z-index:99990;border-bottom:none;}
body #top-bar{margin-top:0;padding-top:80px;}
.row-fluid #content.span6 .blog-featured .items-leading h2{padding:0 2%;}
.row-fluid #content.span6 .blog-featured .items-leading p{margin-right:0;padding:0 2%;}















